body{
    background-color: gray;
    font-family: arial;
}

h1 
{
    color: black;
    text-align: center;
}

.assign
{
    display: flex;
    padding: 10px;
    margin:10px;
    background: blue;
}

.assign img
{
    width: 200px;
    padding: 10px;
}
