/*
Color Scheme:
rich black: #01161E
navy: #124559
purple: #8C86AA
light green: #8FB996
dark green: #709775
*/

/* main body */
body {
  color: #a1cca5;
  background-color: #01161e;
  font-family: cursive;
}

#page {
  background: #124559;
  width: 95%;
  margin: auto;
  padding: 10px;
}

/*Headers*/

h1 {
  color: #709775;
  background-color: #124559;
  padding: 4px;
  text-align: center;
  margin: auto;
}

h2 {
  color: #01161e;
  margin-left: 10px;
  text-align: center;
}

/* paragraph */
p {
  margin-left: 10px;
  margin-bottom: 600px;
}

#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#navigation ul {
  padding-left: 0;
  display: flex;
}

#navigation li {
  list-style-type: none;
  padding: 5px;
  background-color: #8fb996;
  border-bottom: 2px solid #3b503e;
  margin-right: 20px;
  margin-left: 20px;
}

#navigation a {
  text-decoration: none;
  color: #8fb996;
  padding: 10px;
  border-radius: 2px;
  color: #01161e;
}

#navigation a:hover {
  color: #709775;
}

#columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contentBox {
  background-color: #a1cca5;
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

img {
  width: 300px;
  height: 150px;
  margin-left: 50px;
}

link {
  color: #8fb996;
}

.contentBox a {
  color: #01161e;
  text-decoration: none;
}

.contentBox h3 {
  padding-left: 10px;
}
