#reservation {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h4 {
  background-color: rgb(223, 230, 230);
  padding: 10px;
}

.recomendation .row {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .recomendation {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .recomendation img {
    width: 150px;
    height: 150px;
  }
}
